myvenv/
YapperMail/UserProfile/static/Script/fbconfig.js
YapperMail/uploads/
YapperMail/uploads/*
YapperMail/myenv
YapperMail/media/*
YapperMail/uploads

*.py[cod]
__pycache__/
*.so
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.avif
*.tiff

00*
*.log
db.sqlite3
/pip-log.txt
.env
YapperMail/Chatbot/chatbotapi.py
.idea