<div class="flex justify-end items-center lg:mx-11 gap-2">
  <a href="{% url 'profile' %}" class="font-semibold hover:font-medium"
    ><label>Cancel</label></a
  >
  <button
    type="button"
    class="btn btn-primary w-[100px] font-semibold rounded-3xl bg-[#F37D84] border-[#F37D84] hover:bg-[#f66f78] hover:border-[#f66f78] h-12 disabled:bg-gray-400 disabled:border-[#BDBDBD]"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    disabled
    id="openModal"
  >
    Save
  </button>
</div>
