@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

.landing-container {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;

}


.home-list{
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    gap: 15px;
    align-items: center;
}

.navbarr {
    display: flex;
    width: 100%;
    height: 4em;
    align-items: center;
    /* padding: 20px; */
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
}

.navbar-left {
    display: flex;
    align-self: flex-start;
    width: 16em;
    height: 4em;
    padding: 0;
    gap: 30px;
    align-items: center;
}

.logoo {
    background-image: url("/static/img/LOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;    
    height: 40px;
    background-position: center;
}

.second {
    padding-left: 5em;
    padding-right: 2em;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100%;
}

.second-text {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: start;
    flex-direction: column;
    flex-shrink: 0;
}

.bg-placeholder{
    width: 100%;
    height: 100%;
    background-image: url("/static/img/LandingPic.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50em;    
    height: 45em;
    background-position: right;
    display: flex;
    flex-shrink: 0;
}

.signup-container{
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    
}

.signup-form {
    grid-column: 1/2;
    display: flex;
    /* width: 45%;*/
    height: 100%; 
    

}

.signup-bg{
    grid-column: 2/-1;
    height: 100%;
    grid-column: 2/-1;
    background-image: url("/static/img/LandingBG.png"), url("/static/img/Design1.png");
    background-size: cover, contain;
    background-repeat: no-repeat;
    /* width: 55%;    
    height: 100%; */
    background-position: left, right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-shrink: 0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    padding-left: 50px;
}

.login-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    gap: 50px;
}
.login-bg {
    grid-column: 1/2;
    height: 100%;
    background-image: url("/static/img/LoginBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 55%;    
    height: 100%; */
    background-position: center;
    flex-shrink: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.login-form{
    grid-column: 2/-1;
    padding-right: 70px;
    /* flex-direction: column; */
    /* width: 45%;
     */
     height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: 1em;
    /* align-items: center; */
    justify-content: center;
    
    
}
.title {
    font-size: 60px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

.search-bar{
    border-radius: 10em;
    width: 35em;
}


.vmiddle {
display: flex;
align-items: center;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.5);
}

.form-control-lg {   
    font-size: 15px !important; 
    height: 55px;
    color: rgba(26,26,26,0.5);
    border: solid 2px;
    border-color: rgba(26,26,26,0.5);

}  

.login-a{
    text-decoration: none;
    color: 111111;
    font-weight: bold;
}


.login-a:hover {
    text-decoration: underline;
    color: #F37D84;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.line{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc; /* Adjust color */
    margin: 0 10px;
}

.line p {
    font-size: 14px; /* Adjust font size */
    color: #666;     /* Adjust text color */
}

.enternumber-button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: solid 2px rgba(26,26,26,0.3);
    background-color: #ffffff;
    color: rgba(26,26,26,0.8);
    width: 100%;
    height: 55px;
    
}

.enternumber-button:hover{
    background-color: #F37D84;
    border:none;
    color: #ffffff;
}

.enternumber-button p{
    flex-grow: 1;
    font-weight: 600;
}

.enternumber-button:hover .bi {
    color: #ffffff; 
}


.bi-telephone{
    font-size: 30px;
    color: #F37D84;
    padding-left: 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    background-image: url("/static/img/HomeBG.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100dvw;
    height: 100dvh;
    background-color: #f4f4f4;
}

.navbar-search{
    display: flex;
    margin-left: auto;
    gap: 0.5em;
    margin-right: 2em;
}

.compose-container{
    display: flex;
    flex-direction: row;
    width: 8em;
    padding: 0.5em;
    background-color: #F37D84;
    color: #f4f4f4;
    border-radius: 10em;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.compose{
    color: #f4f4f4
}

.home-navbar {
    display: flex;
    width: 100%;
    height: 7em;
    align-items: center;
    /* padding: 20px; */
    padding-left: 40px;
    padding-top: 10px;
    gap: 1em;
}

.profile-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: 2em;
    margin-right: 1em;;
}

.home-body{
    display: flex;
    width: 100%;
    height: 100%;
}

.home-body-1{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 2em;
    gap:2em;
}


.navigation{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.navigation-item{
    display: flex;
    flex-direction: row;
    gap: 1em;

    width: 100%;
    height: 3em;
    border-radius: 10em;
    justify-content: left;
    align-items: center;
    padding: 1em;
    font-size: 1rem;
    color:#F37D84;
}

.recent-navigation-container{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 1em;
}

.recent-navigation-item{
    height: 5dvh;
    width: 5dvh;
    border-radius: 100%;
}

.navigation-item:hover{
    background-color: #FF0000;
    color:#f4f4f4;
}

.navigation-item:hover > a{
    background-color: #FF0000;
    color:#f4f4f4;
}

.welcome {
    font-weight: bold;
}

.home-body-2{
    display: grid;
    gap: 2em;
    grid-template-areas: 
    "welcome taskboard"
    "schedule taskboard";
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.45fr 0.55fr;
    width: 69%;
    height: 100%;
    background-color: rgba(243, 125, 132, 0.4);
    border-radius: 20px;
    padding: 1em;
    color: #1A1A1A;
    overflow: hidden;
    position: relative;
}

.welcome{
    grid-area: welcome;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
    color: #1A1A1A;
    background-color: #fdfdfd;
}

.taskboard{
    grid-area: taskboard;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    color: #1A1A1A;
    background-color: #ffffff;
    opacity:   100%;
    overflow-y: auto;
    align-items: center;
    position: relative;
}



::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.taskboard-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222,0.5);
    width: 90%;
    height: 190px;
    border-radius: 20px;
    color: #1A1A1A;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.task-title{
    font-weight: 600;
    font-size: 20px;
}

.task-text{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2;
}
.schedule{
    grid-area: schedule;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
    color: #1A1A1A;
    background-color: #fdfdfd;
}

.enternum-container{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.signin-otp{
    background: url("/static/img/Otp_BG.png") center/cover no-repeat;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.col-12.signinotp{
    display: flex;
    flex-direction: column;
}

.signinotp-wrap1{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 20em;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.enternum-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.enternum-wrap1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 30em;
    height: 20em;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.verifyotp-wrap1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 30em;
    height: 25em;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}


.otp-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.otp-digit {
    width: 40px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }


  .otp-digit.entered {
    border-color: #F37D84; /* Change to your desired color on hover */
  }

  .email-list-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 2em;
    padding-right: 1.5em;
    height: 100dvh;
    width: 100dvw;
    gap: 20px;
  }

  .email-list-navbar {
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    gap: 1em;
}

.email-button-container{
    display: flex;
    width: inherit;
    height: 2.5em;
    gap: 1.7em;
}


.email-button-container .btn.btn-primary:hover{
    background-color: #F37D84;
}


.email-compose-container{
    display: flex;
    flex-direction: row;
    width: 8em;
    padding: 0.5em;
    background-color: #F37D84;
    color: #f4f4f4;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1.5em;
}

.email-list{
    display: flex;
    flex-direction: column;
    height: 25em;
    width: 10em;
    background-color: #808080;
}

.messages{
    /* padding-left: 1em; */
    margin: 0;
    padding: 0;
    text-align: left;
    align-self: self-start;
    color: #d54444;
    list-style-type: none;
}

.resetpassword-wrap1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 35em;
    height: 30em;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a{
    color: #F37D84;
    text-decoration: none;
}

.bi-bell {
    color: #f37d84;               
    font-size: 2em;              
    background-color: transparent; 
    border: none;                 
    box-shadow: none;             
    outline: none;                
}

/* Style for read notifications */
.read-notification {
    color: gray;
  }
  
  /* Unread indicator */
  .unread-indicator {
    float: right;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }

  .bookmark{
    width: 30%;
    height: 4.5%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute; /* Absolute positioning */
    right: 9%; /* Adjust right position as needed */
    margin-bottom: 30%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;    
    line-height: 2;
  }
  
  /* Color schemes for each type */
 .delegate {
    background-color: #79C797; /* Red */
  }
  
  .scheduled {
    background-color: #618BFF; /* Orange */
  }
  
  .do {
    background-color: #DB464F; /* Green */
  }
  

  /* Content styling */
  .task-content {
    margin-top: 20px;
  }
  
  .task-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .task-email {
    font-size: 14px;
    color: #555;
  }
  
  .task-text {
    font-size: 16px;
    margin-top: 10px;
  }
  
  #calendar {
    width: 80%;
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #1A1A1A;
  }
  
  #calendar-header {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr);
    background-color: #F9BAC0;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .header-cell {
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-radius: 10px;
  }
  
  #calendar-body {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr);
  }
  
  .time-slot {
    /* border-top: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
  }
  
  .email-block {
    background-color: #FFEB3B;  /* Yellow color for email block */
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
  }